.path-mod-cardbox button {
    border: none !important;
}

.path-mod-cardbox .cardbox-studyview {

}
.path-mod-cardbox .cardbox-cardcontainer {
    /*padding: 30px;*/
}

.path-mod-cardbox .cardbox-card {
    /*margin: 0 auto;
    /*max-width: 700px;
    border: 0.5px solid !important;
    border-color: #cccccc !important;
    padding-bottom: 15px;*/
}

.path-mod-cardbox .cardbox-image {
    /*margin: 0 auto;
    max-width: 700px;*/
}

.path-mod-cardbox .cardbox-text {
    
}

.path-mod-cardbox .img-fluid {
    max-width: 100%;
    height: auto;
}

.path-mod-cardbox .form-inline {  
  /*display: flex;
  flex-flow: row wrap;
  align-items: center;*/
}

.path-mod-cardbox #cardbox-userinput {    
    margin-top: 30px;
    margin-bottom: 15px;
}

/*.path-mod-cardbox .form-control {
    width: 50% !important;
}*/

.path-mod-cardbox .hidden {    
    display: none;
}

.path-mod-cardbox #cardbox-mark-as-correct {
    background-color: #00b33c;
    border: none;
}

.path-mod-cardbox #cardbox-mark-as-incorrect {
    background-color: #ff9900;
    border: none;
}

.path-mod-cardbox #cardbox-practice-feedback {
/*    height: 100px !important;
    width: 100px !important;*/
}

.path-mod-cardbox .col-gold-lg {
    background-color: green;
}

.path-mod-cardbox .col-gold-sm {
    background-color: gold;
}

.path-mod-cardbox .reviewcontent {
    margin-top: 50px;
    margin-bottom: 30px;
}

.path-mod-cardbox .cardbox-review-item {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin: 1em;
    padding: 2em;
}

.path-mod-cardbox .cardbox-review-button {
    border-radius: 0px;
    margin-left: 2m;
    margin-left: 2m;
}
/*.path-mod-cardbox .cardbox-review-button {
    border-radius: 70%;
    margin-bottom: 3em;
}

.path-mod-cardbox #cardbox-approve {
    background-color: #00b33c;
    margin-right: 1em;
}

.path-mod-cardbox #cardbox-edit {
    background-color: #ff9900;
    margin-right: 1em;
}

.path-mod-cardbox #cardbox-reject {
    background-color: #ff3300;
    margin-right: 1em;
}*/

/*

.path-mod-cardbox #cardbox-skip {
    background-color: #00b33c;
}*/