<form id="cardbox-inputform">
    <input id="cardbox-userinput{{answerno}}" type="text" name="answer" class="form-control">
    <input id="cardbox-submit-answer" type="submit" value="{{# str }} submitanswer, cardbox {{/ str }}" class="btn btn-primary">
</form>
<button id="cardbox-mark-as-correct" type="button" class="btn btn-primary hidden">{{# str }} markascorrect, cardbox {{/ str }}</button>
