<div class="cardbox-cardside">

    {{#images}}
        <div class="cardbox-image container-fluid">
            <img src='{{imagesrc}}' class='img-fluid mx-auto d-block'>
        </div>
    {{/images}}

    {{#texts}}
        <div class="cardbox-card-text {{#images}}text-center{{/images}}">{{{text}}}</div>
    {{/texts}}
    
</div>
