<div class="cardbox-card">

    {{#frontimages}}
        <div class="cardbox-image container-fluid">
            <img src='{{frontimagesrc}}'>
        </div>
    {{/frontimages}}

    {{#fronttexts}}
        <div class="cardbox-text">
            <h3>{{{fronttext}}}</h3>
        </div>
    {{/fronttexts}}

    {{#backimages}}
        <div class="cardbox-image">
            <img src='{{backimagesrc}}'>
        </div>
    {{/backimages}}

    {{#backtexts}}
        <div class="cardbox-text">
            <h3>{{{backtext}}}</h3>
        </div>
    {{/backtexts}}

</div>