<div class="cardbox-cardside">

    {{#images}}
        <div class="cardbox-image container-fluid">
            <img src='{{imagesrc}}' class='img-fluid mx-auto d-block'>
        </div>
    {{/images}}

    {{#texts}}
        <div class="cardbox-text text-center">
            <div class="cardbox-card-text">{{{text}}}</div>
        </div>
    {{/texts}}

</div>
