<div class="cardbox-card">
    
    {{#frontimages}}
        <div class="cardbox-image">
            <img src='{{frontimagesrc}}'>
        </div>
    {{/frontimages}}

    {{#fronttexts}}
        <div class="cardbox-text">
            {{{fronttext}}}
        </div>
    {{/fronttexts}}

    {{#backimages}}
        <div class="cardbox-image">
            <img src='{{backimagesrc}}'>
        </div>
    {{/backimages}}

    {{#backtexts}}
        <div class="cardbox-text">
            {{{backtext}}}
        </div>
    {{/backtexts}}

</div>
