<div id="cardbox-practice-content" class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-4 cardbox-column">
        <div class="cardbox-autocheck-card-left-side">
            {{#question}}
                {{> mod_cardbox/cardside }}
            {{/question}}
        </div>
    </div>
    <div class="col-sm-4 cardbox-column">
        <div class="cardbox-autocheck-card-right-side">
            <h6>{{# str }} solution, cardbox {{/ str }}</h6>
            {{#answer}}
                {{> mod_cardbox/cardside }}
            {{/answer}}
            <h6>{{# str }} yoursolution, cardbox {{/ str }}</h6>
            <div class="cardbox-text text-center">
                {{#userinputitems}}
                    <h3 id="cardbox-user-solution" class="{{colorclass}}">{{userinput}}</h3>
                {{/userinputitems}}
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>

</div>

<div id="cardbox-practice-user-interaction" class="row">

    <div class="col-sm-2"></div>
    <div id="cardbox-feedback-wrapper" class="col-sm-8 cardbox-feedback">
        <div class="row">
            <span id="cardbox-feedback" class="col-sm-6"></span>
            <span id="cardbox-proceed-buttons" class="col-sm-6">
                <button id="cardbox-override" type="button" class="btn btn-secondary pull-right">{{overridelabel}}</button>
                <button id="cardbox-proceed" type="button" class="btn btn-primary pull-right">{{# str }} proceed, cardbox {{/ str }}</button>
            </span>
        </div>
    </div>
    <div class="col-sm-2"></div>

</div>