<button id="cardbox-see-options" type="button" class="btn btn-primary">
    {{# str }} options, cardbox {{/ str }}
</button>

<div id="cardbox-options-template" class="hidden">
    {{> mod_cardbox/options }}
</div>