<div id="cardbox-practice-content" class="row">

    <div class="col-sm-3"></div>
    <div id="cardbox-cardcontainer" class="col-sm-6">
        {{#question}}
            {{> mod_cardbox/cardside }}
        {{/question}}
    </div>
    <div class="col-sm-3">
        <button id="cardbox-see-options" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardboxPracticeSettings">{{# str }} options, cardbox {{/ str }}</button>
    </div>

</div>

<div id="cardbox-practice-user-interaction" class="row">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form id="cardbox-inputform">
            <input id="cardbox-check-answer" type="submit" value="{{# str }} submitanswer, cardbox {{/ str }}" class="btn btn-primary">
        </form>
    </div>
    <div class="col-sm-3"></div>

</div>

