<div id="cardbox-practice-content" class="row">

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div id="cardbox-cardcontainer" class="col-xs-12 col-md-10 col-lg-8 col-xl-6" style="margin-bottom: 10px">
        <button id="cardbox-end-session" type="button" class="btn btn-secondary">{{# str }} endpractice, cardbox {{/ str }}</button>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div id="cardbox-cardcontainer" class="col-xs-12 col-md-10 col-lg-8 col-xl-6 topic">{{topic}}</div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div id="cardbox-cardcontainer-question" class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
        {{#question}}
            {{> mod_cardbox/cardside }}
        {{/question}}
        {{#deck}}
            <img src={{deckimgurl}} alt="This card belongs to Deck {{deck}}" class="cardbox_card_deck_icon">
        {{/deck}}
    </div>
   <div class="hidden-xs col-md-1 col-lg-2 col-xl-3">
        <!--<button id="cardbox-see-options" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardboxPracticeSettings">{{# str }} options, cardbox {{/ str }}</button>-->
    </div>

</div>



<div id="cardbox-practice-user-interaction" class="row">

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3 cardbox-userinput"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
        <form id="cardbox-inputform" autocomplete="off">

            {{#contextquestionavailable}}
                <div class="col-xs-12" >{{{contextquestion}}}</div>
            {{/contextquestionavailable}}

            {{#inputfields}}
                <input id="cardbox-userinput-{{number}}" type="text" name="answer" class="form-control cardbox-userinput">
            {{/inputfields}}

            <input id="cardbox-submit-answer" type="submit" value="{{# str }} submitanswer, cardbox {{/ str }}" class="btn btn-primary">
            <input id="cardbox-do-not-know" type="submit" value="{{# str }} dontknow, cardbox {{/ str }}" class="btn btn-secondary" style="margin-right: 5px">
        </form>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6"> 
        <div style="float: right; margin-top: 15px">{{# str }} cardsleft, cardbox {{/ str }} {{cardsleft}}</div>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

</div>