<button id="cardbox-see-options" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardboxPracticeSettings">{{# str }} options, cardbox {{/ str }}</button>

<div class="modal" id="cardboxPracticeSettings">
    {{> mod_cardbox/options }}
</div>
