<div id="cardbox-review" class="container-fluid cardbox-studyview">

    <h5>{{# str }} reviewtopic, cardbox {{/ str }}<em>{{topic}}</em></h5>
    <div id="cardbox-card-in-review" data-cardid="{{cardid}}" class="row reviewcontent">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 cardbox-review-item">
            {{#frontimages}}
                <div class="cardbox-image container-fluid">
                    <img src='{{frontimagesrc}}' class='img-fluid mx-auto d-block'>
                </div>
            {{/frontimages}}
            {{#fronttexts}}
                <div class="cardbox-text text-center">
                    <h4>{{{fronttext}}}</h4>
                </div>
            {{/fronttexts}}
        </div>
        <div class="col-sm-4 cardbox-review-item">
            {{#backimages}}
                <div class="cardbox-image cardbox-back">
                    <img src='{{backimagesrc}}' class='img-fluid mx-auto d-block'>
                </div>
            {{/backimages}}

            {{#backtexts}}
                <div class="cardbox-text cardbox-back text-center">
                    <h4>{{{backtext}}}</h4>
                </div>
            {{/backtexts}}
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" class="container-fluid">
            <div class="btn-group" role="group" aria-label="review-actions">
                <button id="cardbox-approve" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} approve, cardbox {{/ str }}"><i class='icon fa fa-check fa-fw'></i></button>
                <button id="cardbox-edit" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} edit, cardbox {{/ str }}"><i class='icon fa fa-pencil fa-fw'></i></button>
                <!--<button id="cardbox-reject" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} reject, cardbox {{/ str }}"><i class='icon fa fa-times fa-fw'></i></button>-->
                <button id="cardbox-skip" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} skip, cardbox {{/ str }}"><i class='icon fa fa-step-forward fa-fw'></i></button>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

</div>
