<div id="cardbox-review">

    <div class="container-fluid cardbox-studyview">

            <div id="cardbox-card-in-review" data-cardid="{{cardid}}" class="row reviewcontent">

            <div class="row reviewcontent">
                <p class="col-lg-1 col-xl-2" >{{# str }} reviewtopic, cardbox {{/ str }}</p>
                    <p class="cardbox-context-overview">{{topic}}</p>
                <div class="hidden-xs col-lg-1 col-xl-2"></div>
            </div>  

            <div class="hidden-xs col-lg-1 col-xl-2">{{# str }} card, cardbox {{/ str }}</div>
            <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
                <div class="cardbox-card-left-side">
                    {{#question}}
                        {{> mod_cardbox/cardside }}
                    {{/question}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
                <div class="cardbox-card-right-side">
                    {{#answer}}
                        {{> mod_cardbox/cardside }}
                    {{/answer}}
                </div>
            </div>
            <div class="hidden-xs col-lg-1 col-xl-2"></div>
        </div>

    {{#contextquestionavailable}}
    <div class="row reviewcontent">

        <div class="col-lg-1 col-xl-2">{{# str }} addtionalinformation, cardbox {{/ str }}</div>
        <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
            <div>
                <div class='cardbox-context-overview' style="padding-right: 15px">{{{questioncontext}}}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
            <div>
            {{#contextansweravailable}}
                <div class='cardbox-context-overview' style="padding-left: 20px">{{{answercontext}}}</div>
            {{/contextansweravailable}}
            </div>
        </div>
        <div class="col-lg-1 col-xl-2"></div>
    </div>
    {{/contextquestionavailable}}

    {{^contextquestionavailable}}
    {{#contextansweravailable}}

    <div class="row reviewcontent">
        <div class="col-lg-1 col-xl-2">{{# str }} addtionalinformation, cardbox {{/ str }}</div>
        <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
            <div class='cardbox-context-overview'></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
            <div class='cardbox-context-overview' style="padding-left: 20px">{{{answercontext}}}</div>
        </div>
        <div class="col-lg-1 col-xl-2"></div>
    </div>

    {{/contextansweravailable}}
    {{/contextquestionavailable}}

    {{#necessaryanswersavailable}}
    <div class="row reviewcontent">

        <div class="col-lg-1 col-xl-2">{{# str }} necessaryanswers_card, cardbox {{/ str }}</div>
        <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
            <div>
                <div class='cardbox-context-overview' style="padding-right: 15px">{{{necessaryanswers}}}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-4 cardbox-column">
            <div>
                <div class='cardbox-context-overview' style="padding-left: 20px"></div>
            </div>
        </div>
        <div class="col-lg-1 col-xl-2"></div>
    </div>
    {{/necessaryanswersavailable}}

    </div>

    <div class="row">
        <div id="review-button-wrapper" class="col-xs-12 container-fluid">
            <div class="btn-group" role="group" aria-label="review-actions">
                <button id="cardbox-approve" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} approve, cardbox {{/ str }}"><i class='icon fa fa-check fa-fw'></i></button>
                <button id="cardbox-review-edit" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} edit, cardbox {{/ str }}"><i class='icon fa fa-pencil fa-fw'></i></button>
                <button id="cardbox-reject" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} reject, cardbox {{/ str }}"><i class='icon fa fa-times fa-fw'></i></button>
                <button id="cardbox-skip" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} skip, cardbox {{/ str }}"><i class='icon fa fa-step-forward fa-fw'></i></button>
            </div>
        </div>
    </div>

</div>