<div id="cardbox-review" class="container-fluid cardbox-studyview">

    

    <div id="cardbox-card-in-review-{{cardid}}" class="row reviewcontent">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 cardbox-review-item">Nilpferd loremp ipsum dolor manet etcetera bla blubb und überhaupt wird hier viel zu wenig geschwafelt</div>
        <div class="col-sm-4 cardbox-review-item">Flamingo loremp ipsum dolor manet etcetera bla blubb und überhaupt wird hier viel zu wenig geschwafelt</div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" class="container-fluid">
            <div class="btn-group" role="group" aria-label="review-actions">
                <button id="cardbox-approve" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} approve, cardbox {{/ str }}"><i class='icon fa fa-check fa-fw'></i></button>
                <button id="cardbox-edit" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} edit, cardbox {{/ str }}"><i class='icon fa fa-pencil fa-fw'></i></button>
                <button id="cardbox-reject" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} reject, cardbox {{/ str }}"><i class='icon fa fa-times fa-fw'></i></button>
                <button id="cardbox-skip" type="button" class="btn btn-primary cardbox-review-button" title="{{# str }} skip, cardbox {{/ str }}"><i class='icon fa fa-step-forward fa-fw'></i></button>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

    

</div>
