<div class="row cardbox-statistics">

    <div class="col-sm-2"></div>
    <div class="col-sm-3"><canvas id="cardbox-statistics-cardboxstatus" width="100" height="100"></canvas></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-3"><canvas id="cardbox-statistics-progress-over-time" width="100" height="100"></canvas></div>
    <div class="col-sm-2"></div>

</div>
