<div class="container-fluid cardbox-studyview">

    <div class="row">
        <div class="col-sm-2"></div>
        <div id="cardbox-cardcontainer" class="col-sm-8">
            {{> mod_cardbox/card }}
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form id="cardbox-inputform">
                <input id="cardbox-userinput{{answerno}}" type="text" name="answer" class="form-control">
                <input id="cardbox-submit-answer" type="submit" value="{{# str }} submitanswer, cardbox {{/ str }}" class="btn btn-primary">
            </form>
            <button id="cardbox-mark-as-correct" type="button" class="btn btn-primary hidden">{{# str }} markascorrect, cardbox {{/ str }}</button>
            <button id="cardbox-mark-as-incorrect" type="button" class="btn btn-primary hidden">{{# str }} markasincorrect, cardbox {{/ str }}</button>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>