<div id="cardbox-studyview" class="container-fluid cardbox-studyview">

    <div id="cardbox-practice-content" class="row">
        <div class="col-sm-3"></div>
        <div id="cardbox-cardcontainer" class="col-sm-6">
            {{> mod_cardbox/card }}
        </div>
        <div class="col-sm-3">
            <button id="cardbox-see-options" type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardboxPracticeSettings">{{# str }} options, cardbox {{/ str }}</button>
        </div>
    </div>

    <div id="cardbox-practice-user-interaction" class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            {{#selfcheck}}
                {{> mod_cardbox/selfcheck }}
            {{/selfcheck}}
            {{#autocheck}}
                {{> mod_cardbox/autocheck }}
            {{/autocheck}}
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div id="cardbox-practice-feedback-collection" class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><canvas id="cardbox-practice-feedback" width="100" height="100"></canvas></div>
        <div class="col-sm-3"><canvas id="cardbox-overall-status" width="100" height="100"></canvas></div>
        <div class="col-sm-3"></div>
    </div>

    <div class="modal" id="cardboxPracticeSettings">
        {{> mod_cardbox/options }}
    </div>

</div>